#manage {
  max-width: 1280px;
  margin: 63px auto 0 auto;
}
.container * {
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 15px;  /* grid : gutter */
}
/* grid : 100% / 12 columns = 8.33%. */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.insert-btn {
  float: left;
  width: 112px;
  height: 36px;
  margin: 16px 0 10px 8px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: #FFC107;  /*amber 500*/
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: background-color 0.3s;
}
.insert-btn:hover {
  background-color: #FFA000;  /*amber 700*/
}
.insert-btn-fixed {
  display: none;
}

table {
  border-spacing: 0;
  border-radius: 6px;
  border-collapse: collapse; 
  background-color: #FAFAFA;
  width: calc(100% - 16px);
  margin: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

table tr th {
  padding: 16px;
  color: #5f5f5f;
  font-size: 13px;
  font-weight: 500;
}

table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td {
  display: inline;
  overflow: hidden;
  font-size: 14px;
}

table button {
  padding: 7px 8px;
  font-size: 0.8125rem;
  min-height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
table button:hover {
  background-color: #E0E0E0;  /*grey 300*/
}

.table-btn {
  padding: 8px;
}

.edit-icon, .delete-icon {
  display: none;
}

.edit {
  color: #4CAF50; /*green 500*/
}
.delete {
  color: #E91E63; /*pink 500*/
}

@media (max-width: 720px) {  
  table {
    text-align: left;
    width: calc(100% - 16px);
    margin: 8px;
    box-shadow: none;
  }

  table thead {
    display: none;
  }

  table tr {
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 4px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  table td {
    table-layout: fixed;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 8px 0 8px;
  }

  table button {
    min-width: 32px;
    padding: 0;
    width: 100%;
  }

  table button>p { display: none; }

  .edit-icon, .delete-icon {
    display: block;
  }
  .edit-icon svg {
    fill: #81C784;  /*green 300*/
  }
  .delete-icon svg {
    fill: #F06292;  /*pink 300*/
  }

  .table-btn {
    padding: 8px 0px 8px 0px;
  }

  .insert-btn {
    display: none;
  }
  .insert-btn-fixed {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: #FFC107;  /*amber 500*/
    text-align: center;
    font-size: 32px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: all 0.3s;
  }
  .insert-btn-fixed:hover {
    color: #FFC107; /*amber 500*/
    background-color: #FFF8E1;  /*amber 50*/
  }

  .col-1 {width: calc(16.66% - 16px); color: #5f5f5f;}
  .col-2 {width: calc(33.33% - 16px); }
  .col-3 {width: calc(66.66% - 16px); }
  .col-3.m {width: calc(33.33% - 16px); }
}